.home {
  .hero {
    width: 100%;
    background: url('../images/home/home-hero.jpg') center center no-repeat;
    background-size: cover;
    height: 700px;
    color: white;

    h1 {
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 40px;
    }

    .btn-orange {
      margin-right: 15px;
    }

  }

  .post-hero {
    padding: 50px 0;

    .left-col {
      margin-top: 10px;

      a {
        display: inline-block; 
        font-size: 14px; 
        font-weight: 600; 
        color: #666; 
      }
    }

    .right-col {
      text-align: right;

      .btn-orange {
        padding-left: 60px;
        padding-right: 60px;
        margin-bottom: 30px;
      }
    }

  }

  .locations {
    color: white;
    text-align: center;
    background: #0081b7;
    padding: 100px 0 150px;


    h4 {
      margin: 15px 0;
    }

    .location-details {
      margin-top: 100px;
    }

    .location-details p {
      font-size: 14px;
      margin-bottom: 15px;
    }

    .location-contact {
      margin-top: 10px;
    }
  }

  .orange-callout {
    color: white;
    text-align: center;
    background: #ff7c00;
    padding: 45px 0;

    h2 {
      margin-bottom: 15px;
    }

    p {
      font-size: 24px;
    }
  }

  .service-offerings {
    padding: 100px 0;
    text-align: center;

    .service {
      margin-bottom: 100px;
    }

    h2, a.learn-more {
      color: #0081b7;
    }

    a.learn-more {
      font-size: 16px;
      font-weight: 300;
    }

    h2 {
      margin-bottom: 100px;
    }

    h4 {
      margin-bottom: 20px;
    }

    img {
      width: 75px;
      margin-bottom: 50px;
    }

    p {
      margin-bottom: 20px;
    }
  }  

  .two-col-layout {
    color: white;
    height: 500px;
    clear: both;

    .col {
      float: left;
      width: 50%;
      height: 500px;
    }

    .bg-image {
      background: url('../images/home/customer_support.jpg') center center no-repeat;
      background-size: cover;
    }

    .col-content {
      padding: 50px;
      background: #0081b7;
    }

    h2 {
      margin-bottom: 25px;
    }

    img {
      width: 25px;
      position: relative;
      top: 6px;
      margin-right: 15px;
    }

    p {
      margin-bottom: 10px;
    }
  }

  .testimonial {
    padding: 100px 0 50px;

    .testimonial-wrapper {
      max-width: 1000px; 
      margin: 0 auto;
    }

    blockquote {
      padding: 42.5px;
      background-image: url('../images/home/quote-icon.png');
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    q {
      display: block;
      font-size: 22px;
      font-style: italic;
      font-weight: 500;
      color: #4ba3cb;
      margin-bottom: 20px;
    }

    cite {
      display: block;
      text-align: right;
      color: #99999f;
      font-style: normal;
      font-size: 18px;
    }

    .slick-dots {
      position: relative;
      bottom: initial;
      margin-top: 50px;
    }
  }

}


// Media Queries
@media screen and (max-width: 900px) {
  .home {
    .two-col-layout { 
      h2 {
        font-size: 38px;
      }
    }
  }
}


@media screen and (max-width: 768px) {
.home {
  .hero {
    text-align: center;
  }

  .two-col-layout .col {
    width: 100%;
  }

  .post-hero {
    padding: 50px 0;

    .left-col, .right-col {
      text-align: center;
    }

    .left-col {
      margin-bottom: 25px;
    }
  }

  .locations {
    .location-col {
      margin-bottom: 100px;
    }
  }

  .two-col-layout {
    height: auto;

    .col {
      height: auto;
    }

    .bg-image {
      display: none;
    }
  }

}
}


// Media Queries
@media screen and (max-width: 450px) {
.home {
  .hero {
    .btn-orange {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  .post-hero {
    .left-col {
      a { 
        margin-right: 0 !important; 
        margin-bottom: 10px;
      }
    }
  }
}
}

// Media Queries
@media screen and (min-width: 768px) {
.home {

  .post-hero {
    .right-col {
      float: right;

      .btn-orange {
        margin-bottom: 0px;
      }
    }

  }
}
}

