body {
  width: 100%;
  overflow-x: hidden;
}

.vertical-align {
  position: relative;
  top: 45%;
  transform: translateY(-50%);  
}

.mobile-show {
  display: block;
}

@media screen and (max-width: 768px) {
  .mobile-hide {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-show {
    display: none;
  }
}

a.btn {
  font-size: 20px;
  padding: 10px 27.5px;
  border-radius: 10px;
  display: inline-block;
}

a.btn-orange {
  color: white;
  background-color: #ff7c00;
}

a.btn-white {
  color: #333;
  background-color: white;
}

a.btn-blue {
  color: white;
  background-color: #0081b7;
}