.header {
  width: 100%;

  .top-line, .header-nav {
    padding: 15px 0;
  }

  
  // Top Header
  .top-line {
    background: #005579;
  }

  .icons {
    margin-right: 10px;
  }

  .phone-number {
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    position: relative;
    top: -11px;
  }

  .alberta-logo, .search-form {
    float: right;
  }

  .alberta-logo {
    margin-right: 25px;
  }

  .search-form {
    position: relative;
    top: 5px;
  }

  .search-form input, .search-form button {
    border-radius: 3px;
    border: 0;
    width: 160px;
    font-size: 14px;
    padding: 10px 10px 10px 35px;
    background-color: rgba(30, 166, 208, 0.5);
    background-image: url('../images/header/icon_search.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 7px 9px;
  }

  .search-form button {
    font-size: 15px;
    color: white;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 15px;
    color: white;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 15px;
    color: white;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 15px;
    color: white;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 15px;
    color: white;
  }



  // Header Navigation
  .header-nav {
    background: #fff;
    border-bottom: 2px solid #eee;

    .in-out-logo {
      min-width: 200px;
    }

    nav {
      position: relative;
      top: 21px;
      text-align: right;
    }
  
    li {
      display: inline;
      margin-right: 50px;
    }

    a {
      color: #45474d;
      font-size: 14px;
      font-weight: bold;
      transition: all 1s ease;

      &:hover {
        opacity: 0.7;
      }
    }

    i {
      position: relative;
      top: -1px;
      color: #9f9f9f;
      font-weight: normal;
    }

    #mobile-menu-trigger {
      position: relative;
      text-align: right;
      top: 12px;
    }
  }

  .dropdown-menu {
    position: absolute;
    display: none;
    top: 58px;
    left: 250px;
    width: 450px;
    background: white;
    padding: 30px 0 50px 0;
    font-size: 14px;
    z-index: 100;
    text-align: left;

    .dropdown-content {
      display: none;
    }

    p {
      width: 100%;
      border-bottom: 2px solid #666;
      font-weight: bold;
      padding: 10px;
    }

    ul {
      padding-left: 25px;
    }

    li {
      display: block;
      list-style: none;
      margin-top: 17.5px;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .mobile-nav {
    position: fixed;
    right: 0px;
    background: white;
    top: 0;
    bottom: 0;
    padding: 15px 0;
    z-index: 100;
    width: 300px;
    right: -300px;

    
    // Base styling for mobile nav elements
    li a {
      display: inline-block;
      width: 100%;
      font-size: 16px;
      color: #333;
      transition: all 1s ease;

      &:hover {
        opacity: 0.7;
      }

      i {
        font-size: 10px;
        position: relative;
        top: -2px;
        left: 3px;
      }
    }

    // Styling for first-level elements
    > ul > li {
      border-bottom: 1px solid #ccc;
      margin-bottom: 5px;
      
      > a {
        padding: 10px 20px 15px;
      }
    }

    // Styling for mobile nav dropdown
    .mobile-dropdown {
      display: none;

      > li  > a {
        color: #666;
        font-size: 15px;
        border-top: 1px solid #ccc;
        padding: 10px 20px 10px 30px;
      }
    }

  }

}


// Overrides Container Behavior to Give Header Elements More Width
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header {
    .container {
      min-width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .header .mobile-nav {
    display: none !important;
  }
  .header {
    position: fixed;
    z-index: 1000;
  }
  main {
    margin-top: 175px;
  }
}

@media screen and (max-width: 768px) {
  .header .dropdown-menu {
    display: none !important;
  }
}